* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  height: 100vh;

  font-family: "Open Sans", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
}

.food,
.toy {
  display: flex;
  gap: 3em;
}

.food-card,
.toy-card {
  background-color: white;
  width: fit-content;
  padding: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
}
