* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  height: 100vh;

  font-family: "Open Sans", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > h1:not(.cards) {
  margin-bottom: 1em;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.cards {
  display: flex;
  gap: 3em;
}

.card {
  background-color: white;
  width: 270px;
  padding: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
}
